body {
    background: white;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

div.professor {
  background: #F5F5F5;
  border: none;

  border-left: 2px dashed #CACACA;
  border-right: 2px dashed #CACACA;
  border-top: 1px dashed #CACACA;

  margin-left: 8%;
  margin-right: 8%;
  margin-top: 1%;

  font-family: Raleway;

  overflow: hidden;
}

div .professor .foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1%;

  margin: 1%;
  float: left;
}

div .professor .nome {
  font-size: 25px;
  font-weight: bold;
  color: #FCB468;
}

div .professor .materia {
  font-size: x-large;
  font-weight: bold;
  color: #A1A1A1;
}

div .professor .curriculo_header {
  font-size: 25px;
  font-weight: bold;
  color: #A1A1A1;
}

div .professor .curriculo {
  color: #B4B4B4;
  font-size: large;
  font-weight: bold;
}

div .col1
{
  float: left;
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
}

div .col2
{
  float: right;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 75%;
  margin-right: 1%;
}
