body {
    background: white;
    text-align: center;
    padding: 0 25px;
    overflow-y: scroll;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

.titulo {
  font-family: Raleway;
  margin-bottom: 2%;
  margin-top: 2%;
  color: #FCB468;
}

#nome_input {
  margin-bottom: 2%;
}

div .professor {
  background: #F5F5F5;
  border: none;

  border-left: 2px dashed #CACACA;
  border-right: 2px dashed #CACACA;
  border-top: 1px dashed #CACACA;

  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;

  font-family: Raleway;
  overflow: hidden;
}

div .professor .foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 1%;

  margin: 1%;
  float: left;
}

div .professor .nome {
  font-size: 25px;
  font-weight: bold;
  color: #FCB468;
  float: left;
  clear: both;
}

div .professor .materia {
  font-size: x-large;
  font-weight: bold;
  color: #A1A1A1;
  float: left;
  clear: both;
  margin-bottom: 3%;
}

span.nota, span.nota span {
    display: block;
    background: url(../imgs/estrelas.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
    float: left;
    clear: both;
}

span.nota span {
    background-position: 0 0;
}

div .professor .curriculo_header {
  font-size: 20px;
  font-weight: bold;
  color: #A1A1A1;
  float: left;
  clear: both;
}

div .professor .curriculo {
  color: #B4B4B4;
  font-size: medium;
  font-weight: bold;
  display: block;
  float: left;
  clear: both;
  margin-top: 1%;
}

div .col1
{
  float: left;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 2%;
}

div .col2
{
  float: right;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 70%;
  margin-right: 1%;
}
